body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f0f0f0;
}
.caliculator{
    width: 350px;
    height: 450px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0,0, 0.2);
}
#box{
    width: 100%;
    height: 100%;
    background-color: yellow;
    display: grid;
    gap: 5px;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    
}
.btn, .opr, .ac, .undo{
    width: 50px;
    height: 50px;
    font-size: 15px;
    border-radius: 18px;
    border: none;
    cursor: pointer;
}
.btn{
    color: aliceblue;
    background-color: orange;
}
.opr{
    color: aliceblue;
    background-color: blue;
}
.ac{
    color: aliceblue;
    width: 150px;
    background-color: red;
    grid-column: span 2;
}
.undo{
    color: aliceblue;
    width: 150px;
    grid-column: span 2 ;
    background-color: green;
}
button:active{
    transform: scale(0.95);
    color: #000;
}
.result{
    grid-column: span 4;
    width: 100%;
    height: 60px;
    font-size: 25px;
    text-align: right;
     font-size: 25px;
    text-align: right;
    padding-right: 12px;

    border-radius: 10px;
    border: none;
    

}
.ac, .undo {
    border-radius: 20px;
}
